<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UMW Jobs</title>
    <script src="{{ url_for('static', filename='js/tailwind.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}" type="module"></script>
    <script src="{{ url_for('static', filename='js/dropdown.js') }}" type="module"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body class="flex flex-col h-screen">
    <nav class="h-16 px-5 flex justify-between items-center">
        <a href="/" class="text-xl font-semibold flex items-center w-fit">UMW Jobs
        </a>
        {% if user.completed_onboarding == True %}
        <div class="flex items-center">
            <a href="/matches" class="font-medium text-sm hover:bg-neutral-100 py-2 px-3 rounded-lg">
                Browse Jobs
            </a>
            <a href="/matches"
                class="font-medium text-neutral-500 text-sm mr-4 hover:bg-neutral-100 py-2 px-3 rounded-lg">
                Saved Matches
            </a>
            <a href="/profile"
                class="text-orange-500 bg-orange-500/20 h-10 w-10 rounded-full flex items-center justify-center font-semibold hover:opacity-70">
                {{ user.first_name.0.upper() }}{{ user.last_name.0.upper() }}
            </a>
        </div>
        {% endif %}
    </nav>
    <div class="bg-neutral-100 flex-1">
        {% if user.completed_onboarding == True %}
        {% include 'components/jobs.html' %}
        {% else %}
        {% include 'components/onboarding.html' %}
        {% endif %}
    </div>
</body>

</html>